@using SnackbarB2C2PI4_LeviFunk_ClassLibrary
@model OrdersVMDetails

@{
    ViewData["Title"] = "Details";
}

<div class="TitleWrapper">

    <h1 class="TitleGridItem">Details of the selected order</h1>

    <p class="TitleGridItem" id="detailsButtonWrapper">
        <a asp-controller="Orders" asp-action="Index" class="btn btn-primary btn-sm" id="detailsButtonElement">Return to orders</a>
        <a asp-controller="Orders" asp-action="EditStart" asp-route-id="@Model.Order.Id" class="btn btn-primary btn-sm" id="detailsButtonElement">Edit the order</a>
        <a asp-controller="Orders" asp-action="Delete" asp-route-id="@Model.Order.Id" class="btn btn-primary btn-sm" id="detailsButtonElement">Delete the order</a>
    </p>

</div>

<div class="CompleteTransactionWrapper">

    <div class="CompleteTransactionElement">
        <!--A list of data-->
        <div>

            <div class="form-group">
                <label class="form-label mt-4">Total price</label>
                <input class="form-control" id="readOnlyInput" type="text" placeholder="€@Model.Order.Cost" readonly="" />
            </div>

            @if(Model.Order.Customer != null)
            {
                <div class="form-group">
                    <label class="form-label mt-4">Customer</label>
                    <input class="form-control" id="readOnlyInput" type="text" placeholder="@Model.Order.Customer.FirstName @Model.Order.Customer.LastName" readonly="" />
                </div>

                <div class="form-group">
                    <label class="form-label mt-4">Email</label>
                    <input class="form-control" id="readOnlyInput" type="text" placeholder="@Model.Order.Customer.Email" readonly="" />
                </div>
            }

        </div>

    </div>

    <div class="CompleteTransactionElement">
        <!--A list of all products-->
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price per item</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Product product in Model.Products)
                {
                    <tr>

                        <td>
                            @product.Name
                        </td>

                        <td>
                            @product.Price
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </div>

</div>
